* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  height: 100vh;
  display: flex;
}

.body-container {
  border: 1px solid black;
  width: 100%;
}

.start-container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.start-container h1{
  text-align: center;
}

.main-container {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#reset {
  width: fit-content;
  height: fit-content;
  margin-bottom: 0.5rem;
  font-size: 20px;
}

.success-container h4{
  color: white;
  margin: 1rem;
}

.board-container {
  width: 40%;
  display: flex;
  justify-content: space-between;
}

.game-container {
  width: 800px;
  height: 800px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px;
}

.select-level{
  height: 95vh;
  display: none;
  justify-content: space-around;
  align-items: center;

}

.title-container{
  color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.board-container{
  width: 40%;
}

.memory-card {
  min-width: calc(25% - 10px);
  min-height: calc(14.666% - 10px);
  margin: 5px;
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform .5s;
  border: 1px solid red;
}

.memory-card:active {
  transform: scale(0.97);
  transition: transform .2s;
}


.memory-card.flip {
  transform: rotateY(180deg);
}

.front-face,
.back-face {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 5px;
  backface-visibility: hidden;
}

.front-face {
  transform: rotateY(180deg);
}


.success-container {
  display: none;
  height: 100%;
}

.fa-solid {
  font-size: 20px;
  color: green;
}

a {
  text-decoration: none;
}

.success-container h3 {
  color: green;
  margin: 1rem 0;
  font-size: 50px;
}

button {
  height: 40px;
  width: 150px;
  font-size: 20px;
  border-radius: 6px;
}

.success-container h2{
  color: white;

}

.success-wrap-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 30px;
  margin: 1rem 0;
  color: white;
}


@media screen and (max-width: 850px) {
  .game-container {
      width: 100%;
      height: 700px;
      margin: auto;
      display: flex;
      flex-wrap: wrap;
      perspective: 1000px;
      /* border: 1px solid green; */
  }
  .main-container h1{
      font-size: 20px;
  }
  .main-container h2{
      font-size: 15px;
  }
  .title-container{
      border: 1px solid red;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  .board-container{
      width: 80%;
  }
  #reset{
      font-size: 15px;
  }

  #restart-game{
    width: fit-content;
    font-size: small;
    height: fit-content;
  }

  .select-level {
    display: none;
    flex-direction: column;
  }

}

@media screen and (max-width: 450px) {
  .game-container {
      width: 100%;
      height: 600px;
      margin: auto;
      display: flex;
      flex-wrap: wrap;
      perspective: 1000px;
      /* border: 1px solid green; */
  }
  .main-container h1{
      font-size: 20px;
  }
  .main-container h2{
      font-size: 15px;
  }
  .title-container{
      border: 1px solid red;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  .board-container{
      width: 80%;
  }
  #reset{
      font-size: 15px;
  }

  #restart-game{
    width: fit-content;
    font-size: small;
    height: fit-content;
  }

  .select-level {
    display: none;
    flex-direction: column;
  }

}